.users-index-wrapper
  .contents
    .posts.clearfix
      .post
      .post
      .post
      .post
      .post
      .post
    .pagination
  .profile
    .profile__icon
    .profile__info
      .profile__info--username ユーザーネーム
      %button.btn.btn-secondary{:type => "button"} プロフィールを編集
