@import "modules/variable";

.edit_wrapper {
  background: $background-color;
  height: 100vh;
  padding-top: 100px;
  text-align: center;
  .fields {
    background: #FFF;
    width: 70vh;
    margin: 0 auto;
    border: solid  thin #f5f5f5;
    border-radius: 5px;
    padding: 50px;
    h2 {
      border-bottom: solid thin rgb(200, 200, 200);
      margin-bottom: 50px;
      font-size: 20px;
    }
    .field {
      &__name{
        font-weight: bold;
        text-align: left;
      }
      .preview {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #CED4DA;
        position: relative;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
        height: 100px;
        background-position: center;
        background-color: #fff;
        position: relative;
        img {
          width: 100px;
          height: 100px;
          position: absolute;
          border-radius: 5px;
        }
      }
    }
    .actions {
      margin: 30px auto;
    }
  }
}