.navbar {
  height: 7vh;
  .mountain {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid white;
    position: relative;
    margin-right: 10px;
    .mountain1{
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid white;
      top: 10px;
      left: 10px;
      position: absolute;
    }
  }
  .navbar-brand {
    font-family: cursive;
  }
  .nav-item {
    margin: 10px;
    .btn {
      color: #fff;
      border-color: #6c757d;
    }
    .btn:hover {
      opacity: 0.5;
    }
    .register {
      background-color: rgba(220, 20, 60, 0.7);
    }
    .login {
      background-color: rgba(220, 167, 20, 0.7);
    }
  }
}