.comment.clearfix
  .icon
  .contents
    .username ユーザーネーム
    .message-body
      ここにコメントが入ります。
.comment.clearfix
  .icon
  .contents
    .username ユーザーネーム
    .message-body
      ここにコメントが入ります。
.comment.clearfix
  .icon
  .contents
    .username ユーザーネーム
    .message-body
      ここにコメントが入ります。