- @comments.reverse.each do |comment|
  .comment.clearfix
    .profile
      - if comment.user.image.blank?
        .image
          %i.fas.fa-user-alt.fa-lg
      - else
        = image_tag comment.user.image.to_s, class: "img"
    .contents
      .username
        = comment.user.name
      .message-body
        = comment.text
