.comment.clearfix
  .profile
    %i.fas.fa-user-alt.fa-2x
  .contents
    .username ユーザーネーム
    .message-body
      ここにコメントが入ります。
.comment.clearfix
  .profile
    %i.fas.fa-user-alt.fa-2x
  .contents
    .username ユーザーネーム
    .message-body
      ここにコメントが入ります。
.comment.clearfix
  .profile
    %i.fas.fa-user-alt.fa-2x
  .contents
    .username ユーザーネーム
    .message-body
      ここにコメントが入ります。