.posts-index-wrapper.clearfix
  .contents
    .posts.clearfix
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
    .pagination
  .ranking
    .title
      %i.fas.fa-award
      お気に入りランキング
    %span.fa-stack.fa-lg
      %span.fas.fa-trophy.fa-stack-2x
      %span.fa.fa-stack-1x 1
    .post
    %span.fa-stack.fa-lg
      %span.fas.fa-star.fa-stack-2x
      %span.fa.fa-stack-1x 2
    .post

    %span.fa-stack.fa-lg
      %span.fas.fa-star.fa-stack-2x
      %span.fa.fa-stack-1x 3
    .post
