.posts-index-wrapper
  .contents
    .posts.clearfix
      - @posts.each do |post|
        =link_to post_path(post), data: {"turbolinks"=>false} do
          = image_tag post.image.to_s, class: "post"
    = paginate @posts
