.posts-index-wrapper.clearfix
  .contents
    .posts.clearfix
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
    .pagination
  .sideContent
    = render 'ranking'
