.posts-show-wrapper.clearfix
  .contents
    .title ベネチア
    .post
      = image_tag('second-slide.jpg')
    .comments
      = render 'comment'
  .side-contents
    .wikipedia
    .googleMap
    = render 'ranking'