@import "mixin/clearfix";
.comment-input {
  text-align: center;
  .form-control {
    width: 90%;
    margin: 20px auto;
  }
}
.comment {
  @include clearfix();
  padding: 20px;
  .profile {
    border: solid thin rgb(200, 200, 200);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 65px;
    float: left;
  }
  .contents {
    float: left;
    width: 40vw;
    .message-body {
      width: 40vw;
      height: 10vh;
      padding: 16px;
      background: #eef0f4;
      border-radius: 15px;
      line-height: 1.5;
      word-break: break-all;
      margin-top: 5px;
      margin-right: 20px;
    }
  }
}