@import "modules/variable";
@import "mixin/clearfix";
@import "mixin/post";

.posts-index-wrapper{
  background: $background-color;
  padding-bottom: 10vh;
  .contents {
    .posts {
      width: 1000px;
      padding-top: 50px;
      margin: 0 auto;
      .post {
        @include post();
        float: left;
        margin: 10px;
      }
    }
  }
}
