@import "modules/variable";
.posts-wrapper{
  background: $background-color;
  height: 110vh;
  padding-top: 70px;
  .card {
    width: 70vh;
    margin: 0 auto;
    .card-body {
      .field {
        margin: 30px 0;
        label {
          font-weight: bold;
        }
        span {
          background-color: rgb(234, 53, 45);
          color: #fff;
          font-size: 12px;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
        }
        .arbitrary {
          background-color: rgb(160, 160, 160);
        }
        .preview {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          border: solid 1px #CED4DA;
          position: relative;
          border-radius: 5px;
          cursor: pointer;
          width: 300px;
          height: 250px;
          background-position: center;
          background-color: #fff;
          i {
            display: block;
            color: rgb(190, 190, 190);
          }
          #defaultImage {
            width: 300px;
            height: 250px;
            position: absolute;
            border-radius: 5px;
          }
        }
      }
      .action {
        text-align: center;
      }
    }
  }
}
