@import "mixin/clearfix";
.posts-show-wrapper {
  background: #E9EBEE;
  .contents {
    display: flex;
    justify-content: center;
    .main-contents {
      width: 50vw;
      margin: 100px 0;
      .card {
        .card-body {
          padding: 10px;
          display: flex;
          .card-title {
            font-weight: bold;
            font-size: 20px;
            margin: 10px;
            font-family: 'Noto Sans JP', sans-serif;
            float: left;
          }
          .profile {
            margin-left: auto;
            display: flex;
            .image {
              border: solid thin rgb(200, 200, 200);
              width: 40px;
              height: 40px;
              border-radius: 20px;
              text-align: center;
              line-height: 45px;
            }
            .img {
              border: solid thin rgb(200, 200, 200);
              width: 40px;
              height: 40px;
              border-radius: 20px;
              text-align: center;
              line-height: 45px;
            }
            .username {
              padding: 10px;
            }
          }
        }
      }
      .post {
        height: 60vh;
        img {
          height: 60vh;
          width: 100%;
        }
      }
      .description {
        background: #fff;
        padding: 20px;
        border: solid thin rgb(200, 200, 200);
      }
      .comments {
        border: solid thin rgb(200, 200, 200);
        border-top: none;
        background: #fff;
        margin: 20px 0;
        padding-top: 20px;
        .heading {
          display: flex;
          flex-direction: column;
          border-bottom: solid thin rgb(200, 200, 200);
          padding: 20px;
          .btn {
            color: #fff;
            border-color: rgba(220, 167, 20, 0.5);
            width: 250px;
            margin: 5px 0;
            background-color: rgb(220, 167, 20);
            text-align: center;
            margin: 0 auto;
          }
          .btn:hover {
            opacity: 0.7;
          }
          .comment-input {
            text-align: center;
            .form-control {
              width: 90%;
              margin: 20px auto;
            }
          }
        }
        .content {
          height: 60vh;
          overflow: auto;
        }
      }
      .wikipedia {
        background: #fff;
        margin: 20px 0;
        border-radius: 5px;
        padding: 20px;
        .fa-wikipedia-w {
          border: 1px solid #ccc;
          border-radius: 2px;
        }
      }
      .googleMap {
        #map_container {
          clear: both;
          width: 100%;
          border: 1px solid #CCC;
        }
        #map_canvas {
          width: 100%;
          height: 70vh;
        }
        #map_content {
          width: 100px;
          height: 70px;
        }
      }
    }
    .side-contents {
      padding: 100px 30px;
    }
  }
}