%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} MyLandscape
  .navbar-collapse.collapse.w-100.order-3.dual-collapse2
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{:href => "#"} 投稿一覧
      %li.nav-item
        %a.nav-link{:href => "#"} マイページ
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Language
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} 日本語
          %a.dropdown-item{:href => "#"} English
          %a.dropdown-item{:href => "#"} Espanyol
